
/*---about---*/

.aboutmain{}
.aboutsec{position: relative;width: 100%;background: url(../img/about/about-bnr.jpg) no-repeat center;background-size: cover;z-index: 1;padding: 30px 0;}
.aboutsec:before{content: ""; position: absolute;left: 0;right: 0;bottom: 0;top: 0;width: 100%;height: 100%;background: #2c6b99;opacity: 0.3;z-index: -1;}
.aboutsecone{}
.headTitle{margin-bottom: 30px;}
.headTitle .title{font-size: 50px;line-height: normal;font-weight: bold;padding-bottom: 10px;color: #001d38; position: relative;}
.headTitle .title:before{position: absolute;left: 0;bottom: 0;width: 150px;height: 5px;content: "";background: #001d38;}

.aboutconinfomain{display: block;font-size: 0;}
.abconinfleft{width: 50%;display: inline-block;vertical-align: top;}
.abcon-info{padding: 20px 0;}
.abconinfright{width: 50%;padding-left: 50px;display: inline-block;vertical-align: top;}
.borderfull{border-right: 1px solid #001d38;}
.abconinfotit{background: #001d38;padding: 10px 12px;border-radius: 15px;display: inline-block;max-width: 230px;margin-bottom: 20px;}
.abconinfotit .title{font-size: 26px;line-height: normal;font-weight: normal;color: #fff;}
.assititle{font-size: 24px;margin-bottom: 10px;font-weight: normal;line-height: normal;color: #001d38;}

.coninfo{position: relative;display: block;}
.coninfo ul{padding: 10px 0;}
.coninfo ul li{padding-left: 15px;position: relative;display: block;margin-bottom: 25px;}
.coninfo ul li:before{position: absolute;content: "";width: 6px;height: 6px;border-radius: 50%;background: #001d38;
left: 0;top: 12px;}
.coninfo ul li .numtitle{font-size: 26px;margin-bottom: 10px;font-weight: normal;line-height: normal;color: #001d38;}
.coninfo ul li span{position: relative;padding-left: 30px;display: inline-block;}
.coninfo ul li span .icon{font-size: 20px;color: #001d38;position: absolute;left: 0;top: 5px;}
.coninfo ul li span a{font-weight: bold;font-size: 24px;line-height: normal;color: #001d38;}

.coninfoemail span{position: relative;padding-left: 30px;display: inline-block;}
.coninfoemail span .icon{font-size: 22px;color: #001d38;position: absolute;left: 0;top: 5px;}
.coninfoemail span a{font-weight: bold;font-size: 24px;line-height: normal;color: #001d38;}

.timedaymain{text-align: center;margin: auto;}
.timedaybox{border-radius: 10px;overflow: hidden;display: inline-block;max-width: 500px;}
.headtimeday{padding: 10px 15px;display: block;font-size: 0;background: #476e98;}
.headtimeday li{width: 50%;display: inline-block;text-align: center;font-size: 26px;font-weight: bold;
color: #fff;line-height: normal;}
.headtimeday li:first-child{border-right: 1px solid #fff;}

.daytimeinfo{padding: 25px 15px;display: inline-block;font-size: 0;background: #001d38;position: relative;}
.daytimeinfo:before{position: absolute;right: 50%;width: 1px;height: 80%;background: #fff;
content: "";top: 0;bottom: 0;margin: auto;/*border-style: solid;
border-width: 1px;border-image: linear-gradient(to right bottom, #30485d, #fff);
border-image-slice: 1;*/}
.daytimeinfo li{width: 50%;display: inline-block;text-align: center;font-weight: normal;font-size: 18px;
line-height: normal;margin-bottom: 18px;color: #fff;}
.daytimeinfo li:last-child:before{width: 0;}
.daytimeinfo li:last-child{margin-bottom: 0;}


/*---about---*/

/*---contact us---*/
.cont-img{}
.cont-img img{margin: auto;}
/*---contact us---*/

/*---footer---*/

.fooconinfo{}
.fooconinfo span{position: relative;padding-left: 44px;display: inline-block;margin-bottom: 40px;}
.fooconinfo span .icon{font-size: 26px;color: #fff;position: absolute;left: 0;top: 0px;}
.fooconinfo span p{font-weight: bold;font-size: 16px;color: #fff;line-height: 1.4;
margin-bottom: 0;}
.fooconinfo span a{font-weight: bold;font-size: 16px;line-height: normal;color: #fff;}

.footlogoimg{}
.footlogoimg span:first-child{display: block;margin-right: 0;margin-bottom: 15px;}
.footlogoimg span:last-child{margin-right: 0;}
.footlogoimg span{display: inline-block;margin-right: 15px;}
.footlogoimg span img{}
.footlogo{text-align: right;}
.footmapimg{margin-left: 20px;text-align: right;}
.fooinfocol{border-right: 1px solid #fff;}

.footBox{}
.footboxone{padding-left: 30px;}
.footBox .footTitle{font-size: 18px;font-weight: bold;line-height: normal;margin-bottom: 20px;
color: #fff;}
.footBox .footBoxCon{}
.menu-footer{}
.menu-footer ul{display: block;}
.menu-footer ul li{font-size: 14px;color: #fff;line-height: 1.4;font-weight: normal;margin-bottom: 15px;
display: block;}

/*---footer---*/

.tabdash{margin: auto;}
.nav-pills .nav-link.active{border-radius: 10px;}
.nav-pills .nav-link{border-radius: 10px;margin-right: 5px;}

.tranhismain{border-radius: 20px;overflow: hidden;}
.tranhismain tr.headdastitle.{padding: 5px;width: 100%;}
.font-sizezero{font-size: 0;}
.tranhismain tbody tr{padding: 5px 15px;width: 100%;display: block;font-size: 0;background: #eef5ff;}
.tranhismain tbody tr td{font-size: 14px;line-height: 1.4;color: #000;display: inline-block;
width: 50%;}


.loanstmain{border-radius: 10px;overflow: hidden;}
.loanst{margin: 0 0;}
.loanst .form-label{margin-bottom: 0; padding: 5px 5px; color: #2171d3 !important;}
.loanst .form-label:nth-child(odd){background: #dbeafd;}
.loanst .form-label:nth-child(even){background: #eef5ff;}

.content p{color: #012f51;}

/*.remslidtitle{background: #001D38;padding: 5px 10px;border-radius: 5px;display: inline-block !important;color: #fff !important;}*/
.con-img{width: 100%;}
.con-img img{width: 100%;}
.identimg{}
.identimg img{margin: auto;display: block;width: auto;}


/*-----cms Con-----*/
.cmsCon{padding: 50px 0; }

.cmsCon h1{font-size: 40px;color: #fff;font-weight:700;letter-spacing:1px;margin:0px 0;margin-bottom: 10px;
background: #001d38;border-radius: 5px;padding: 4px 8px;display: inline-block;}
.cmsCon h1 span{color: #ff9833;font-size: 40px;background: #001d38;border-radius: 5px;padding: 4px 8px;display: inline-block;}
.cmsCon h2{font-size: 38px;color: #fff; margin-bottom: 20px;font-weight: bold;
background: #001d38;border-radius: 5px;padding: 4px 8px;display: inline-block;}
.cmsCon h3{font-size: 35px;color: #fff;margin: 0 0 20px 0;font-weight: bold;
background: #001d38;border-radius: 5px;padding: 4px 8px;display: inline-block;}
.cmsCon h4{font-size: 24px;color: #fff;margin:0 0 10px 0;font-weight: 600;
background: #001d38;border-radius: 5px;padding: 4px 8px;display: inline-block;}
.cmsCon h5{font-size: 22px;color: #fff;margin:0 0 10px 0;font-weight: 600;
	background: #001d38;border-radius: 5px;padding: 4px 8px;display: inline-block;}
.cmsCon h6{font-size: 20px;color: #fff;margin:0 0 10px 0;font-weight: 600;
background: #001d38;border-radius: 5px;padding: 4px 8px;display: inline-block;}
.cmsCon span{font-size: 26px;line-height: normal;color: #001d38;font-weight: 600;margin-bottom: 20px;display: block;}
.cmsCon b{color: #012f51;position: relative;}
.cmsCon b span{position: relative;padding-left: 35px;font-size: 18px;}
.cmsCon b span:before{position: absolute;left: 0;top: 5px;content: "";width: 20px;height: 10px;
background: url(../img/about/cmsconarrowleft.png) no-repeat center;}

.cmsCon ul{ list-style: none; padding: 10px 0px;}
.cmsCon ul li{ position: relative;display: block;padding-left: 20px;font-size: 16px;line-height: 26px;color: #012f51;font-weight: normal;margin-bottom: 15px;}
.cmsCon ul li:before{content: '';background: #012f51;width: 2px;height: 2px;left: 0;top: 12px;position: absolute;bottom: inherit;margin: auto;border-radius: 50%;}
.cmsCon p{font-size: 16px;line-height: 26px;color: #012f51;margin-bottom: 20px;}
.cmsCon p a{color: #012f51;font-size: 16px;line-height: 24px;transition: all 0.4s ease-in-out;}
.cmsCon p a:hover{color: #000;}
.cmsCon ul li a{color: #012f51;font-size: 16px;line-height: 24px;transition: all 0.4s ease-in-out;}
.cmsCon ul li a:hover{color: #000;}
.conleft{padding-right: 142px;}

.cmsCon .alignleft{float: left; width: auto; max-width: 50%; margin: 0 30px 30px 0;}
.cmsCon .alignright{float: right; width: auto; max-width: 50%; margin: 0 0 30px 30px;}
.cmsCon .aligncenter{display: block; width: auto; max-width: 100%; margin: 0 auto 30px auto; text-align: center;}
.cmsCon ol{padding: 10px 5px;margin-left: 10px;}
.cmsCon ol li{font-size: 16px;line-height: 20px;color: #012f51;font-style: normal;padding-bottom: 15px;}
/*-----/ end cms Con-----*/


.video_upload{position: absolute;top: -25px;left: 40px;z-index: 3;width: 64%;height: 56%;border-radius: 5px;}

.acceboxmain{margin-bottom: 40px;}
.accebox{margin-bottom: 15px;background: #001d38;border-radius: 5px;font-size: 0;padding: 4px 4px;}

.acceboxtitle{font-size: 0;display: block;}
.acceboxtitle li{font-size: 16px;line-height: normal;color: #012f51; font-weight: 600;margin-bottom: 12px;}
.acceboxtitle li:nth-child(1){width: 70%;display: inline-block;vertical-align: middle;text-align: left;}
.acceboxtitle li:nth-child(2){width: 15%;display: inline-block;vertical-align: middle;text-align: center;
}
.acceboxtitle li:nth-child(3){width: 15%;display: inline-block;vertical-align: middle;text-align: center;}

.acceboxleft{width: 70%;display: inline-block;vertical-align: middle;}
.acceboxleft p{font-size: 16px;line-height: 1.4;color: #fff;font-weight: normal;margin-bottom: 0;}
.acceboxsec{width: 15%;display: inline-block;vertical-align: middle;text-align: center;}
.acceboxsec p{font-size: 16px;line-height: 1.4;color: #fff;font-weight: normal;margin-bottom: 0;}
.acceboxright{width: 15%;display: inline-block;vertical-align: middle;text-align: center;}
.acceboxright p{font-size: 16px;line-height: 1.4;color: #fff;font-weight: normal;margin-bottom: 0;}

.uploadimgrow{margin-left: -50px;margin-right: -50px;}
.uploadcol{padding: 0 50px;margin-bottom: 100px;}
.uploadbox{border:2px dashed #8097a8;border-radius: 20px;text-align: center;padding: 20px;}
.uploadimg{width: 100px;margin: auto;margin-bottom: 5px;}
.uploadimg img{width: 100%;height: 100%;}
.cmsCon h6.uploadtitle{font-size: 16px;color: #586b7f;line-height: 1.6;margin-bottom: 5px;font-weight: 600;
background: transparent;}
.uploadbtn{}
.uploadbtn .btn{min-width: 0 !important;font-size: 14px;font-weight: 600;border-radius: 5px;padding: 5px 10px;
line-height: normal;color: #fff;}
.uploadbtn .blue-btn{background: #012f51;}
.uploadbtn .green-btn{background: #4fce2c;}


.partnersmain{}
.partnersmain .section_title h3{}

.verificationmain{margin-bottom: 50px;}
.verificationmain .section_title h5{font-size: 20px;font-weight: 500;color: #fff;background: #001D38;display: inline-block;position: relative;z-index: 0;
padding: 5px 10px;border-radius: 5px;margin-bottom: 15px;}
.verificationmain ul{font-size: 0; margin: 0 -15px;}
.verificationmain ul li{display: inline-block;width: 20%;padding: 0 15px;text-align: center;}
.verificationmain ul li img{margin: auto;width: 60px;}

.bankingpartmain .section_title h5{font-size: 20px;font-weight: 500;color: #fff;background: #001D38;display: inline-block;position: relative;z-index: 0;
padding: 5px 10px;border-radius: 5px;margin-bottom: 15px;}
.bankingpartmain ul{font-size: 0; margin: 0 -15px;}
.bankingpartmain ul li{display: inline-block;width: 16.66%;padding: 0 15px;text-align: center;}
.bankingpartmain ul li img{margin: auto;width: 150px;}


/*---04-03-21---*/
.innerpage{margin: 40px 0;}
/*---seccmsCon---*/

.seccmsCon{padding: 0;margin-right: 80px;}
.seccmsCon h3{font-weight: 300;position: relative;margin-bottom: 20px;}
.seccmsCon h3:before{position: absolute;bottom: -15px;width: 120px;height: 2px;background: #001d38;
left: 15px;content: "";}
.seccmsCon h4{text-align: right;font-size: 35px;float: right;margin-bottom: 40px;position: relative;}
.seccmsCon h4:before{position: absolute;bottom: -15px;width: 120px;height: 2px;background: #001d38;
left: 15px;content: "";}
.seccmsCon h4 b{font-weight: 600;color: #fff;text-align: right;padding: 0 15px;}
.seccmsCon p{color: both;font-weight: 400;font-size: 18px;}
.thecmsCon h6{background: #00a05e;font-weight: 400;margin-bottom: 15px;}

/*---seccmsCon---*/

.resubmitmain{margin-top: 30px;text-align: center;}
.resubmitmain .resuntitle{font-size: 28px;color: #fff;margin-bottom: 15px;font-weight: 600;
background: #00a05e;border-radius: 5px;padding: 4px 8px;display: inline-block;}
.resubmitmain .wpcf7-list-item{display: block;}
.resubmitmain .wpcf7-list-item label{font-weight: 400;font-size: 18px;color: #001d38;}
.resubmitmain .wpcf7-list-item label b{color: #001d38;}
.resubmitmain .wpcf7-list-item label input[type="checkbox"]{opacity: 0;position: absolute;}
.resubmitmain .wpcf7-list-item label span{position: relative;padding-left: 28px;}
.resubmitmain .wpcf7-list-item label span:before{border-color: #fff;}
.resubmitmain .wpcf7-list-item label span:before{content: "";position: absolute;left: 0;
width: 20px;height: 20px;background: #fff;border: 2px solid #001d38;border-radius: 0px;
cursor: pointer;-webkit-transition: background .3s;transition: background .3s;z-index: 1;
top: 0;margin: auto;}
.resubmitmain .wpcf7-list-item label span:after{content: "";position: absolute;left: 0;top: -2px;
z-index: 2;}
.resubmitmain .wpcf7-list-item label input[type="checkbox"]:checked+ span:before{background: #001d38;
border: none;}
.resubmitmain .wpcf7-list-item label input[type="checkbox"]:checked+ span:after{width: 12px;
-webkit-transform: translate(.25em,.33654em) rotate(-45deg);transform: translate(.25em,.33654em) rotate(-45deg);
height: 8px;border: 2px solid #fff;border-top-style: none;border-right-style: none;}
.plbetitle{display: block;margin-top: 30px;}
.plbetitle .pltitle{font-size: 30px;font-weight: 600;color: #022f51;text-align: center;}

.form-group{margin-bottom: 30px;}
.form-group label{font-size: 22px;font-weight: 600;color: #012f51;display: block;margin-bottom: 5px;}
.form-group span{display: inline-block;font-weight: 400;font-size: 16px;color: #022f51;margin-right: 5px;}
.form-group .form-control{border:1px solid #c1c1c1;background: #f0f1f2;color: #000;height: 48px;
font-size: 16px;}
.form-group .form-control.inupt-textcvv{width: 80px;}
.form-group .form-control.input-textmon{width: 50px;display: inline-block;}
.form-group .form-control.input-textyear{width: 70px;display: inline-block;}
.formrow{margin: 0 -40px;}
.formrow .formcol{padding: 0 40px;}
.subbtn{margin: auto;text-align: center;display: block;}
.subbtn .btn{background: #00a05e;color: #fff;font-size: 22px;font-weight: 600;padding: 8px 25px;
border-radius: 7px;transition: all 0.4s ease-in-out;}
.subbtn .btn:hover{background: #012f51;}
.formbankmain{}
.formbankmain .formtitle{font-size: 35px;color: #fff;margin: 0 0 20px 0;font-weight: bold;
background: #001d38;border-radius: 5px;padding: 4px 8px;display: inline-block;}
.bankcardopc{padding-top: 40px;}
.bankopc{display: block;text-align: center;}
.bankopc p{font-size: 20px;font-weight: 400;color: #012f51;}

.role-list {display: inline-block;margin-right: 15px;}
.pure-checkbox input[type="checkbox"], .pure-radiobutton input[type="checkbox"], .pure-checkbox input[type="radio"], .pure-radiobutton input[type="radio"] {
    border: 0; clip: rect(0 0 0 0);  height: 1px;  margin: -1px;  overflow: hidden;  padding: 0;  position: absolute;  width: 1px;}
.pure-checkbox input[type="checkbox"] + label, .pure-radiobutton input[type="checkbox"] + label, .pure-checkbox input[type="radio"] + label, .pure-radiobutton input[type="radio"] + label {
    position: relative;  padding: 5px 0px 5px 25px;  vertical-align: middle;  user-select: none;  cursor: pointer;}
.pure-checkbox input[type="checkbox"] + label:before, .pure-radiobutton input[type="checkbox"] + label:before, .pure-checkbox input[type="radio"] + label:before, .pure-radiobutton input[type="radio"] + label:before {
    box-sizing: content-box; content: ''; color: #22b9ff; position: absolute; top: 50%; left: 0; width: 20px; height: 20px; margin-top: -9px; border: 2px solid #012f51; text-align: center; transition: all 0.4s ease; border-radius: 6px;
}
.pure-checkbox input[type="radio"] + label:before, .pure-radiobutton input[type="radio"] + label:before, .pure-checkbox input[type="radio"] + label:after, .pure-radiobutton input[type="radio"] + label:after {
    border-radius: 0;
}
.pure-checkbox input[type="checkbox"] + label:before, .pure-radiobutton input[type="checkbox"] + label:before, .pure-checkbox input[type="radio"] + label:before, .pure-radiobutton input[type="radio"] + label:before {
    width: 16px;  height: 16px; /*    margin-top: -6px;*/}
.pure-checkbox input[type="radio"]:checked + label:after, .pure-radiobutton input[type="radio"]:checked + label:after {
    transform: scale(1);}
.pure-checkbox input[type="radio"]:checked + label:before, .pure-radiobutton input[type="radio"]:checked + label:before {
    border-color: #012f51;}
.pure-checkbox input[type="checkbox"] + label:after, .pure-radiobutton input[type="checkbox"] + label:after, .pure-checkbox input[type="radio"] + label:after, .pure-radiobutton input[type="radio"] + label:after {
    box-sizing: content-box; content: ''; background-color: #012f51; position: absolute; top: 50%; left: 5px; width: 10px; height: 10px; margin-top: -4px; transform: scale(0); transform-origin: 50%; transition: transform 200ms ease-out;
}
.pure-checkbox .checkboxtextright { display: inline-block; position: relative; top: 1px; color: #666666; font-size: 14px;font-weight: normal;}

.pure-checkbox .checkbox-text-right {display: inline-block;position: relative;top: 1px;color: #012f51;
font-size: 18px;font-weight: 500;text-transform: uppercase;line-height: 1.4;}

/*---04-03-21---*/

img{width: 100%;}


@media only screen and (max-width:1199px){

.headTitle .title{font-size: 30px;}
.headTitle .title:before{width: 80px;}
.abconinfotit{max-width: 200px;}
.abconinfotit .title{font-size: 18px;margin-bottom: 0;}
.assititle{font-size: 18px;}
.coninfo ul li .numtitle{font-size: 20px;}
.coninfo ul li:before{width: 4px;height: 4px;top: 9px;}
.coninfo ul li span a{font-size: 20px;}
.coninfo ul li span .icon{font-size: 18px;top:1px;}
.coninfoemail span a{font-size: 18px;}
.coninfoemail span .icon{font-size: 18px;top: 2px;}
.coninfo ul li{margin-bottom: 18px;}
.headtimeday li{font-size: 18px;}
.daytimeinfo li{font-size: 16px;margin-bottom: 10px;}

/*---footer---*/

.fooinfocol{border-right: 0;margin-bottom: 25px;}
.footboxone{padding-left: 0;}
.fooconinfo span{margin-bottom: 20px;padding-left: 30px;}

/*---footer---*/

/*---cmscon---*/

 .cmsCon h1{font-size: 30px;}
 .cmsCon h1 span{font-size: 28px;}
 .cmsCon h2{font-size: 26px; margin-bottom: 10px;}
 .cmsCon h3{font-size: 24px;margin: 0 0 10px 0;}
 .cmsCon h4{font-size: 22px;margin:0 0 5px 0;}
 .cmsCon h5{font-size: 20px;margin:0 0 5px 0;}
 .cmsCon h6{font-size: 18px;margin:0 0 5px 0;}
 .cmsCon .alignleft{margin: 0 20px 20px 0;}
 .cmsCon .alignright{margin: 0 0 20px 20px;}
 .cmsCon p{font-size: 14px;line-height: 18px;}
 .cmsCon p a{font-size: 14px;line-height: 18px;}
 .cmsCon ul{padding: 0px 5px;}
 .cmsCon ul li{font-size: 14px;line-height: 24px;}
 .cmsCon ol li{font-size: 14px;line-height: 24px;}

/*---cmscon---*/
.uploadimgrow{margin-left: -30px;margin-right: -30px;}
.uploadcol{padding: 0 30px;margin-bottom: 60px;}
.identimg img{width: 100%;}
.conleft{padding-right: 0;}

/*---seccmsCon---*/

.seccmsCon{margin-right: 20px;}
.seccmsCon h3{margin-bottom: 20px;}
.seccmsCon h4{margin-bottom: 30px;}
.seccmsCon h3:before{width: 80px;}
.seccmsCon h4:before{width: 80px;}
/*---seccmsCon---*/

.resubmitmain{margin-top: 20px;}
.resubmitmain .resuntitle{font-size: 20px;}
.resubmitmain .wpcf7-list-item label{font-size: 16px;}
.plbetitle .pltitle{font-size: 20px;}

.formbankmain .formtitle{font-size: 28px;}
.form-group label{font-size: 18px;}
.form-group .form-control{font-size: 16px;}
.formrow{margin: 0 -15px;}
.formrow .formcol{padding: 0 15px;}
.form-group{margin-bottom: 20px;}
.subbtn .btn{font-size: 18px;}
.bankopc p{font-size: 16px;}
.pure-checkbox .checkbox-text-right{font-size: 16px;}
.pure-checkbox input[type="checkbox"] + label:before, .pure-radiobutton input[type="checkbox"] + label:before, .pure-checkbox input[type="radio"] + label:before, .pure-radiobutton input[type="radio"] + label:before
{width: 14px;height: 14px;}
.pure-checkbox input[type="checkbox"] + label:after, .pure-radiobutton input[type="checkbox"] + label:after, .pure-checkbox input[type="radio"] + label:after, .pure-radiobutton input[type="radio"] + label:after
{width: 8px;height: 8px;}

}

@media only screen and (max-width:991px){

.verificationmain ul li img{margin: auto;width: 40px;}
.bankingpartmain ul li img{margin: auto;width: 100px;}
/*---seccmsCon---*/
.seccmsCon{margin-right: 0px;}
/*---seccmsCon---*/

}

@media only screen and (max-width:767px){

.headTitle .title{font-size: 26px;}
.headTitle .title:before{width: 50px;}
.abconinfotit{max-width: 100%;}
.abconinfotit .title{font-size: 16px;margin-bottom: 0;}
.assititle{font-size: 16px;}
.coninfo ul li .numtitle{font-size: 18px;}
.coninfo ul li:before{width: 4px;height: 4px;top: 9px;}
.coninfo ul li span a{font-size: 18px;}
.coninfo ul li span .icon{font-size: 16px;top:1px;}
.coninfoemail span a{font-size: 16px;}
.coninfoemail span .icon{font-size: 16px;top: 2px;}
.coninfo ul li{margin-bottom: 16px;}
.headtimeday li{font-size: 16px;}
.daytimeinfo li{font-size: 14px;margin-bottom: 10px;}
.borderfull{border:0;}
.abconinfleft{width: 100%;display: block;padding: 0;}
.abconinfright{width: 100%;padding-left: 0;}
.process{margin-bottom: 20px;}

/*---contact us---*/
.cont-img{}
.cont-img img{margin: auto;width: 100%;}
/*---contact us---*/

/*---footer---*/

.footmapimg{margin-left: 0;}
.footlogo{text-align: left;}
.footlogoimg{margin-bottom: 20px;}
.fooinfocol{margin-bottom: 0;}
.fooconinfo span p{font-size: 14px;font-weight: normal;}
.fooconinfo span a{font-size: 14px;font-weight: normal;}
.footBox .footTitle{font-size: 16px;margin-bottom: 15px;}
.menu-footer ul li{margin-bottom: 10px;}
.aboutsectwo{background: transparent;}
.aboutsectwo:before{background: transparent;}

/*---footer---*/

/*---cmscon---*/

.cmsCon{padding: 20px 0;padding-bottom: 0; }
 .cmsCon h1{font-size: 24px;}
 .cmsCon h1 span{font-size: 24px;}
 .cmsCon h2{font-size: 22px; margin-bottom: 10px;}
 .cmsCon h3{font-size: 20px;margin: 0 0 10px 0;}
 .cmsCon h4{font-size: 18px;margin:0 0 5px 0;}
 .cmsCon h5{font-size: 16px;margin:0 0 5px 0;}
 .cmsCon h6{font-size: 14px;margin:0 0 5px 0;}
 .cmsCon p{font-size: 14px;line-height: 24px;margin-bottom: 15px;}
 .cmsCon p a{font-size: 14px;line-height: 24px;}
  .cmsCon ul{padding: 0;}
 .cmsCon ul li{font-size: 14px;line-height: 24px;padding-left: 15px;margin-bottom: 5px;}
 .cmsCon .alignleft{float: none;max-width: 100%;margin: 0 0px 10px 0;}
 .cmsCon .aligncenter{margin: 0 auto 20px auto;}
 .cmsCon ul li::before{top: 9px;}
 .cmsCon .alignright{float: none;max-width: 100%;margin: 0 0px 10px 0;}
 .cmsCon ol li{font-size: 14px;padding-bottom: 10px;line-height: 24px;}

/*---cmscon---*/

.acceboxleft{width: 50%;}
.acceboxsec{width: 25%;}
.acceboxright{width: 25%;}
.acceboxtitle li:nth-child(1){width: 50%;}
.acceboxtitle li:nth-child(2){width: 25%;}
.acceboxtitle li:nth-child(3){width: 25%;}
.acceboxtitle li{font-size: 14px;}
.acceboxsec p{font-size: 14px;}

.uploadimgrow{margin-left: -15px;margin-right: -15px;}
.uploadcol{padding: 0 15px;margin-bottom: 20px;}

.verificationmain ul li{width: 50%;margin-bottom: 20px;}
.verificationmain ul li img{width: 60px;}
.bankingpartmain ul li{width: 50%;margin-bottom: 20px;}

/*---seccmsCon---*/
.seccmsCon h3{margin-bottom: 20px;}
.seccmsCon h4{margin-bottom: 30px;}
/*---seccmsCon---*/
.resubmitmain .resuntitle{font-size: 18px;}
.resubmitmain .wpcf7-list-item label span:before{width: 18px;height: 18px;}
.resubmitmain .wpcf7-list-item label input[type="checkbox"]:checked+ span:after{height: 6px;
width: 10px;}
.innerpage{margin: 20px 0;}
.plbetitle .pltitle{font-size: 16px;}
.plbetitle{margin-top: 20px;}

.formbankmain .formtitle{font-size: 20px;}
.form-group label{font-size: 16px;}
.form-group{margin-bottom: 15px;}
.form-group .form-control{font-size: 14px;}
.bankcardopc{padding-top: 20px;}

}
@media only screen and (max-width:320px){
	.uploadbtn .blue-btn{margin-bottom: 10px;}

}

@media only screen and (min-width: 568px) and (max-width: 767px) {
.verificationmain ul li{width: 33.33%;margin-bottom: 20px;}
.bankingpartmain ul li{width: 33.33%;margin-bottom: 20px;}
}


.uploadimg2 img{
	width: 100%;
	height: 50%;
}